/* line 3, ../../app/stylesheets/home_page.scss */
ol#interesting_items-list {
  text-align: left;
  padding-left: 0px;
}
/* line 7, ../../app/stylesheets/home_page.scss */
ol#interesting_items-list li {
  padding: 12px;
  display: inline-block;
  border-right: 1px solid #DFDFDF;
  height: 100%;
}
/* line 13, ../../app/stylesheets/home_page.scss */
ol#interesting_items-list li .interesting_items-details {
  text-align: center;
}
/* line 16, ../../app/stylesheets/home_page.scss */
ol#interesting_items-list li .interesting_items-image {
  height: 85px;
}

/* line 23, ../../app/stylesheets/home_page.scss */
div #featured_description {
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 1.3;
  font-size: 22px;
  color: #5F5D62;
}

/* line 30, ../../app/stylesheets/home_page.scss */
#featured_image {
  padding-bottom: 7px;
}

/* line 35, ../../app/stylesheets/home_page.scss */
h1 {
  font-family: minion-pro-1, minion-pro-2, "Times New Roman", Georgia, serif;
  font-size: 60px;
}

/* line 39, ../../app/stylesheets/home_page.scss */
h2 {
  color: #333;
  font-family: minion-pro-1, minion-pro-2, "Times New Roman", Georgia, serif;
  font-size: 41px;
}

/* line 44, ../../app/stylesheets/home_page.scss */
h3 {
  color: #333;
  font-family: minion-pro-1, minion-pro-2, "Times New Roman", Georgia, serif;
  font-size: 28px;
}

/* line 50, ../../app/stylesheets/home_page.scss */
#featured-links {
  margin-bottom: 20px;
  text-align: center;
}

/* line 55, ../../app/stylesheets/home_page.scss */
.highlighted-box {
  background: #FFF;
  border: solid 3px #EEEEEE;
  font-size: 130%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
}

/* line 61, ../../app/stylesheets/home_page.scss */
.highlighted-box:hover {
  background: #FFF;
  border: solid 3px #AACCFF;
}

/* line 65, ../../app/stylesheets/home_page.scss */
div#app-features {
  text-align: left;
  color: #333;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
/* line 74, ../../app/stylesheets/home_page.scss */
div#app-features #featured-list-wrapper {
  padding: 10px 25px;
  background: #F0F6FF;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(border-radius.htc);
  font-size: 120%;
}
/* line 85, ../../app/stylesheets/home_page.scss */
div#app-features li {
  margin-bottom: 1em;
  color: #666666;
  list-style: circle;
  font-size: 90%;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
