<div class='span-24'>
  <span style='display:inline;float:left;'>
    <h3><%= left_header %> </h3>
  </span>
  <span style='display:inline;float:right;'>
    <%= link_to "Back to Company", company_admin_company_options_path(company), :class => 'gh-button arrowleft icon' %>
  </span>
</div>
<hr/>