
// bordered line items

.line_items_blue {
  padding: 3px;
  @include rounded(4px);
  border:   solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
}
.box.selected {
  background-color: #f0fff8;
}
.line_item_green {
  padding: 3px;
  @include rounded(4px);
  border:   solid 2px #D0EFD8;
  background-color: #f0fff8;
  margin-bottom: 3px;
}

.line_item_green:hover {
  background-color: #e0ffe8;
}

.line_item_red {
  padding: 3px;
  @include rounded(4px);
  border:   solid 2px #EFD0D8;
  background-color: #fff0f8;
  margin-bottom: 3px;
  text-align:left;
}

.line_item_red:hover {
  background-color: #ffe0e8;
}

.line_item_blue {
  padding: 3px;
  @include rounded(4px);
  border:   solid 2px #D0D8EF;
  background-color: #f0f8ff;
  margin-bottom: 3px;
  text-align:left;
}

.line_item_yellow {
  padding: 3px;
  @include rounded(4px);
  border:   solid 2px #ddc;
  background-color: #EED;
  margin-bottom: 3px;
  text-align:left;
}

.line_item_light_gray {
  padding: 3px;
  @include rounded(4px);
  border:   solid 2px #ECECEC;
  background-color: #F6F6F6;
  margin-bottom: 3px;
  text-align:left;
}

.line_item_gray {
  padding: 3px;
  @include rounded(4px);
  border:   solid 2px #ddd;
  background-color: #EEE;
  margin-bottom: 3px;
  text-align:left;
}
