.ar-widget {
  @include rounded(4px);
  border: 1px #DDD solid;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  li {
    color:#666;
    font-family: HighTower,Georgia,serif;
    font-size:15px;
    font-weight:bold;
    margin-bottom:1em;
    text-align:left;
    a {
      color:#666 important;
    }
  }
  label {
    color:#222;
    display:inline-block;
    width:115px;
  }
  .selection {
    border-top:1px #DDD solid;
    padding:10px;
    &:hover {
      background:#E1EFF8;
    }
  }
}

.company-widget {
  border-left:1px solid #EEEEEE; padding-left: 10px;
}

#company-option-list {
  a {
    padding:10px;
    border:1px solid #fff;
    font-size:18px;
    background:#fff;
    margin-bottom:10px;
    cursor:pointer;
    display:block;
    &.selected {
      border:1px solid #ddd;
      border-right:0;
      background:#f3f3f3;
      -moz-border-radius:4px 0px 0px 4px;
      -webkit-border-radius:4px 0px 0px 4px;
      &:hover{
        border:1px solid #ddd;
        border-right:0;
        background:#f3f3f3;
      }
    }
    &:hover {
      border:1px solid #fff;
      border-right:0;
      background:#F6F6F6;
      -moz-border-radius:4px 0px 0px 4px;
      -webkit-border-radius:4px 0px 0px 4px;
    }
  }

}
